.root {
    -fx-background-color:transparent;
    -fx-background-radius:10;
}


.text-field {
    -fx-border-width: 0px 0px 2px 0px;
    -fx-background-color: transparent;
    -fx-border-color: #f9f9f9;
    -fx-text-fill: #f9f9f9;
    -fx-font-family: "JetBrains Mono";
    -fx-font-weight: bold;
    -fx-font-size:15px;
}

.text-field:hover {
    -fx-border-color: #ffc107;
}

.text-field:focused {
    -fx-border-color: #ffc107;
}


#ac {
    -fx-background-radius:10;
}

#ac_start {
    -fx-background-radius:5px 0px 5px 5px;
}

